html { 

	overflow-y: scroll;
	
	min-width: 980px;
	max-width: 980px;


}

#hex1 {
	position: absolute;
	left: 1000px;

}

#hex2 {
	position: absolute;
	left: 980px;
}

#navcontainer ul {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	list-style-type: none;
	width: 380px;
	
}

#navcontainer ul li {
	display: inline;
}

#navcontainer ul li a {
	text-decoration: underline;
	padding: .2em 1em;
	color: black;
	
}

#navcontainer ul li a:hover {
	color: black;
	border-style: solid;
	box-shadow: 16px 16px 16px #2E2E2E;
}

body {
	background-image:url('blue background.jpg');
}


#sep {
	margin-top: 30px;
	margin-bottom: 30px;
}

#container {

	background-color: #FFFFFF;
	
	padding: 30px;
	margin-top: 50px;
	margin-right: 20%;
	margin-left: 27%;
	margin-bottom: 50px;
	font-family: Arial, sans-serif;
	width: 800px;
	box-shadow: 16px 16px 16px #2E2E2E;
	border-style: solid;
	
}


#asscontain ul 	{
	

		margin: 0;
	
		padding: 0;
	
		list-style-type: none;

}



#asscontain a {
	
		display: block;
	
		color: blue;
	
		background-color: none;
	
		width: 25em;
	
		padding: .3em .9em ;
	
		text-decoration: none;

}



#assccontain li {

		margin: 0 0 .2em 0;


}



#asscontain a:hover {
	
		background-color: none;
	
		color: #FFE416;

}






#nav {
	background-color: #222;
	z-index: 99;
}

#navwrapper {
	width: 900px;
	margin: 0 auto;
	text-align: left;
}

#nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}

#nav ul li {
	display: inline-block;
}

#nav ul li:hover {
	background-color: #333;
}

#nav ul li a, visited {
	color: #ccc;
	display: block;
	padding: 15px;
	text-decoration: none;
}

#nav ul li a:hover {
	color: #ccc;
	text-decoration: none;
}

#nav ul li img{
	vertical-align: middle;
	padding: 10px;
}

#nav ul li:hover ul {
	display: block;
}

#nav ul ul{
	display: none;
	position: absolute;
	background-color: #333;
}

#nav ul ul li{
	display: block;
}

#nav ul ul li a, visited {
	color: #ccc;
}

#nav ul ul li a:hover{
	color: #099;
}
