body {
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: small;
}

h1, h2 {
	font-weight: normal;
	color: #cc6600;
	text-decoration: underline;
	border-bottom: thin dotted #888888;
}

blockquote {
	font-style:italic;
}

h1 {
	font-size: 170%;
}

h2 {
	font-size: 130%;
}
