body { margin-right: 20%;
	margin-left: 20%;
	font-family: "Calibri", "Lucida Grande", sans-serif;
	font-size: normal;
}

h1 {	color: #2A3F55;
	font-size: 2em; font-family: "Calibri", "Gadget", sans-serif;
}

h2 {	color: #2A3F55; font-family: Calibri", "Lucida Grande", sans-serif;}

}
