

#moneycontainer {

	margin: 10px 10px 10px 10px;
}

#birdcontainer {
	
	margin-left: 100px;
}

#monumentcontainer {
	
	margin-left: 350px;
}

#roostercontainer {
	
	margin-left: 500px;
	margin-top: 300px;
}