@charset "utf-8";
/* CSS Document */

body {
	font-family: 	Arial, Helvetica, sans-serif;
	font-size:		small;
	color:			#000;
	background-color:	#000;
	text-align:			center;
	margin:		0px;
	padding:	0px;
}
ul, ol, dl {
	margin: 0px;
	padding: 0px;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0px;
	padding-right: 15px;
	padding-left: 15px;
}
#container {
	background-color: #eee;
	text-align: left;
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border: thin solid #00be9f;

}



#navigation {
	float: left;
	width: 180px;
	background-color: #808080;
	margin-right: 0px;
	margin-left: 0px;
}

ul.nav {
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #9F3;
	list-style-type: none;
}

ul.nav. li {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #9F3;
}

ul.nav a {
	display: block;
	padding: 8px;
}

ul.nav a:link {
	color: #FFF;
	text-decoration: none;
}

ul.nav a:visited {
	color: #F63;
	text-decoration: none;
}

ul.nav a:hover {
	color: #000;
	background-color: #CCF;
}

#content {
	margin-left: 190px;
	padding-left: 0px;
}

#footer {
	background-color: #cf9;
	text-align: center;
	padding: 20px;
	clear: left;
}
#writerimage {
	float: right;
}
	